*{
    box-sizing: border-box;
}
body{
    margin:0;
    display:flex;
    justify-content: center;
}
main{
    width:1000px; 
}
nav{
    padding:10px;
    display:flex;
    justify-content: center;
}
button{
    margin:0 10px 0 10px;
}
canvas{
    background-color:hotpink;
}
.hidden{
    display:none;
}
