@charset "UTF-8";

body{
    background-image: url(images/axolotl.jpg);
    display:flex;
    justify-content: center;
}
#main{
    background-color:honeydew;
    width:400px;
    height:400px;
    padding-top:100px;
    border:2px solid black;
    border-top:5px solid red;
    margin:50px;
    text-align:left;
}
section{
    border-bottom:1px solid hotpink;
    background-color:yellow;
    margin:0px;
}

nav{
    text-align: center;
}
nav a{
    display:inline-block;
    padding:10px 20px 10px 20px;
    border-radius:10px;
}
nav a:link, nav a:visited{
    background-color:cyan;
    color:white;
    transition: all 1s;
}
nav a:hover{
    background-color:blue;
    color:black;
    transition: all 1s;
}